@using DQ.Scheduling.ViewModels
@{
    IEnumerable<CalendarDefaultDisplayViewModel> events = Model.CalendarEvents;
    events = events.OrderBy(e => e.Start);
}

<ul>
    @foreach (var ev in events) {
        <li><a href="@ev.DisplayUrl">@ev.Title @Display.DateTime(DateTimeUtc: ev.Start) - @Display.DateTime(DateTimeUtc: ev.End)</a></li>
    }
</ul>