@using DQ.Scheduling.ViewModels
@{
    IEnumerable<CalendarDefaultDisplayViewModel> events = Model.CalendarEvents;
}

<ul>
    @foreach (var ev in events) {
        <li><a href="@Url.ItemDisplayUrl(ev.Event)">@ev.Title @Display.DateTime(DateTimeUtc: ev.Start) - @Display.DateTime(DateTimeUtc: ev.End)</a></li>
    }
</ul>