@using Orchard.Utility.Extensions
@{
    var existingSubscription = Model.DisplayShape != null;
}

@if (existingSubscription) {
    @* Show the existing subscription *@
    @Display(Model.DisplayShape)
}
else {
    using (Html.BeginFormAntiForgeryPost(Url.Action("Subscribe", new {controller = "Notifications", area = "DQ.Scheduling", returnUrl = Context.Request.ToUrlString()}), FormMethod.Post, new {@class = "subscribe-form"})) {
         if (TempData.ContainsKey("Scheduling.InvalidSubscriptionShape")) {
             @Display(TempData["Scheduling.InvalidSubscriptionShape"])
         }
         else {
             @Display(Model.EditorShape)
         }
         <button type="submit">@T("Subscribe")</button>
     }

    using (Script.Foot()) {

         <script>
             (function($) {

                 // Catch submit
                 //$("form.subscribe-form").submit(function (event) {
                 //    var form = $(this);
                 //    var url = form.attr("action"),
                 //        serialized = form.serialize();

                 //    // Ajax
                 //    $.post(url, serialized, function(response) {
                 //        // Callback

                 //    });

                 //    event.preventDefault();
                 //});

             })(jQuery);
         </script>

     }
}